---
kind: SecurityContextConstraints
apiVersion: security.openshift.io/v1
metadata:
  name: controller-manager
allowPrivilegedContainer: true
allowHostDirVolumePlugin: true
allowHostIPC: false
allowHostNetwork: true
allowHostPID: false
allowHostPorts: false
allowPrivilegeEscalation: true
requiredDropCapabilities: []
allowedCapabilities:
  - NET_ADMIN
  - NET_RAW
defaultAddCapabilities: []
fsGroup:
  type: RunAsAny
groups: []
priority: 10
readOnlyRootFilesystem: false
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: MustRunAs
seccompProfiles:
  - runtime/default
  - docker/default
supplementalGroups:
  type: RunAsAny
volumes:
  - '*'
users:
- system:serviceaccount:keepalived-operator:default
