apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  generateName: kasten-io-
  name: kasten-io-cluster
  namespace: kasten-io
spec:
  targetNamespaces:
    - kasten-io

  upgradeStrategy: Default
