app-template:
  securityContext:
    privileged: true
  controllers:
    app:
      type: daemonset
      labels:
        app: generic-device-plugin
        version: 1.0.0
      containers:
        app:
          securityContext:
            privileged: true
          image:
            # renovate: docker-image
            repository: ghcr.io/squat/generic-device-plugin
            tag: latest@sha256:f1055553438c495c5258c4648a83f6aaf0a3c908d0c5313302ddf0feaa1758bd
            pullPolicy: IfNotPresent
          args:
              - --log-level
              - info
              - --device
              - |
                name: zwave
                groups:
                  - paths:
                      - path: /dev/serial/by-id/usb-0658_0200-if00
              - --device
              - |
                name: rtlsdr
                count: 1
                groups:
                  - usb:
                    - vendor: 0bda
                      product: 2838

      serviceAccount:
        name: generic-device-plugin-sa

  defaultPodOptions:
    securityContext:
      runAsUser: 0
      runAsGroup: 0
      fsGroup: 0

  persistence:
    dev:
      enabled: true
      hostPath: /dev
      type: hostPath

    device-plugin:
      enabled: true
      hostPath: /var/lib/kubelet/device-plugins
      type: hostPath
